* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.home {
  width: 100%;
  min-height: 100vh;
  background-color: #171a1c;
  color: white;
  display: flex;
  flex-direction: column;
}

span {
  color: #ff274b;
}

h2 {
  font-size: 2.8rem;
  letter-spacing: 0.12;
  cursor: pointer;
}
nav {
  padding-top: 2.2rem;
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #ff274b;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8%;
}

h1 {
  font-size: 3.65rem;
  margin: 1.7rem 0;
  color: #fff;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
}

/* .container-texts {
  position: relative;
  bottom: 70px;
} */
.btn {
  background-color: #ff274b;
  text-decoration: none;
  font-weight: bold;
  padding: 0.81rem 1.5rem;
  margin-top: 2.5rem;
}
.btn:hover {
  background-color: transparent;
  border: 2px solid;
  color: #ff274b;
}
.containrt-imges {
  width: 50%;
}
.containrt-imges img {
  width: 100%;
}
.social {
  margin-top: 3.5rem;
}
.social img {
  margin-right: 2rem;
  width: 2.5rem;
}
.social img:hover {
  transform: scale(1.2);
}
.home .container-images {
  width: 65%;
  align-self: flex-start;
}
.home .container-images img {
  object-fit: contain;
  width: 100%;
  border-radius: 50%;
  border: 8px #ff274b solid;
}



.about {
  background: #22282a;
  padding: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .container-images {
  width: 35%;
}
.about .container-images img {
  width: 90%;
}
/* h1 {
  color: white;
  font-size: 5.1rem;
  margin-left: 0;
} */

h5 {
  color: white;
  font-size: 1.57rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

p {
  color: #f7bcf7;
  letter-spacing: 1px;
  line-height: 1.8rem;
  font: size 3rem;
}
.about .container-texts {
  width: 35%;
}
.education {
  background-color: #171a1c;
  padding: 8%;
}
.text-center {
  text-align: center;
}
.box {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 75%;
  background-color: #ff274b;
  border-radius: 5%;
  padding: 1.3rem 2rem;
  margin: 50px;
}
.card i {
  font-size: 90px;
  text-align: center;
}
.skills .container-iamges {
  width: 35%;
}
.skills .container-iamges img {
  width: 90%;
}
.skills {
  background-color: #22282a;
  padding: 2rem 8%;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.content-skills {
  display: flex;
  flex-wrap: wrap;
}
.skills .container-skills {
  width: 100%;
}
.skill {
  background-color: #f7bcf7;
  border-radius: 50%;
  margin: 0 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactinfo-languag .pecent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #f7bcf7;
  display: block;
  padding: 4%;
  margin-top: 7px;

  color: rgb(255, 255, 255);
  margin-right: 10%;
}
.contactinfo-languag .pecent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #ff274b;
}
.text {
  color: aliceblue;
  font-size: 21px;
}
.title-me {
  display: flex;
  justify-content: center;
  padding: 8%;
  color: white;
  margin-bottom: 20px;
}
.contant2 {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}
.cardcontact {
  background-color: #ff274b;
}
.p-me {
  color: #fff;
  letter-spacing: 1px;
  line-height: 2.8rem;
  font-size: 2rem;
  text-align: center;
  margin: 10px;

}
.reference1{
  background-color: #22282a;
 padding: 8%;
 
 
}
.ref{
 display: flex;
 justify-content: space-around ;
 flex-wrap: wrap;

 
 




}
.fleximge{
 display: flex;
  flex-direction: column; 
 width: 289px;
 border: #ff274b 2px solid;
 text-align: center;
 justify-content: space-between;
 font-family: Georgia, 'Times New Roman', Times, serif;
 
 

}
.fotter{
  background-color: #ff274b;
}


footer{
  padding: 2rem 8%;
  background-color: #171a1c;


  
}
footer .content-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
 footer .content-footer p{
 color: #f7bcf7;
 text-align: center;

 margin-top: 1rem;
} 

footer .content-footer .end{
  color: #ff274b;
  margin-top: 1rem;
}














@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .content img {
      margin-top: 30px;
    }
    .skills {
      flex-direction: column;
    }
  
    .about {
      flex-direction: column;
    }
    /* .skills .container-skills {
      width:  fit-content;
    } */
    .box {
      flex-direction: column;
      justify-content: center;
    }
    h1 {
      font-size: 2rem;
      margin: 1.7rem 0;
      color: #fff;
    }
    .about .container-texts {
      width: 100%;
      padding: 40px;
    }
    .home .container-images {
        align-self: center;
      }
  }
  @media (max-width: 730px) {
    .home nav h2 {
      display: none;
    }
    .content-footer{
      flex-direction: column;
      text-align: center;
      justify-content: center;
      
      
    }
  }

  @media (max-width: 800px) {
    .reference1{width: 100%;
     
   
    }
    }
  



